.bloom {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color:rgba(250, 235, 215,0.7);
    color: rgba(250, 235, 215,0.7);
    animation: bloom 0.8s forwards;
    pointer-events: none;
    box-shadow: 0 0 20px rgba(250, 235, 215,0.7), 0 0 50px rgba(250, 235, 215,0.5), 0 0 100px rgba(250, 235, 215,0.3); /* Glowing effect */
}
@keyframes bloom {
    from {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    to {
        width: 30px;
        height: 30px;
        opacity: 0; 
    }
}
body{
    height: 1200px;
    width: 1900px;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    object-fit: cover; 
    z-index: 0;
}
@font-face {
    font-family: 'new_font';
    src: url('elements/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
header{
    padding: 0 0 25px 0;
    margin: 0 0 25px 0;
}
.header-content{
    color: #fff;
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
    min-height: 100px;
    max-height: 130px;
    background-color: rgba(0,0,0,0.25);
    padding: 15px 0;
    position: relative;
}
.nav-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav-logo img{
    object-fit: contain;
    mix-blend-mode: color-burn;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
    position: relative;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    min-width: 160px;
    box-shadow: 0px 6px 6px 0px rgba(255, 255, 255, 0.25);
    z-index: 1;
    backdrop-filter: blur(10px);

}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    backdrop-filter: blur(10px);
}
.search-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}
#search-bar{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    font-family: 'new_font',sans-serif;
    border: none;
    border-radius: 20px;
    background-color: rgba(130, 130, 130, 0.35);
}
#search-button{
    width: 100px;
    padding: 10px;
    font-size: 18px;
    /* color: #fff; */
    /* font-family: 'new_font',sans-serif; */
    /* border: none; */
    /* border-radius: 20px; */
    /* background-color: rgba(130, 130, 130, 0.35); */
    
    color: black;
    text-decoration: none;
    /* font-size: 30px; */
    font: bolder;
    padding-left: 10px;
    margin-left: 10px;
    /* width: 400px; */
    padding: 10px;
    /* font-size: 18px; */
    font-family: 'new_font',sans-serif;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}
#search-button:hover{
    background-color: antiquewhite;
}
p{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}
.contact a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}
.contact a:hover {
    color: #ffe294;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}


footer {
    /* background-color: #000000; */
    /* color: #fff; */
    /* padding: 2rem 0; */
    padding: 35px 0 15px 0;
    margin: 35px 0 15px ;
}
.footer-content{
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    height:310px; 
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(10px);
    z-index: 1;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 1rem;
}
.footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .footer {
        grid-template-columns: repeat(4, 1fr);
    }
}
.footer_heading{
    font-family: 'new_font',sans-serif;
}
.footer-section h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.footer-section p{
    font-family: 'new_font',sans-serif;
}
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
.footer-section li {
    /* margin-top: 15px; */
    margin-bottom: 0.5rem;
}
.footer-section a {
    color: #a0aec0;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}
.footer-section a:hover {
    color: #fff;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}
.footer-section a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 10px;
    height: 10px;
    background-color: rgba(250, 235, 215,2);;
    border-radius: 50%;
    transition: transform 0.3s;
    font-size: 18px;
    font-family: 'new_font',sans-serif;
}
.footer-section a:hover::before {
    transform: translateY(-50%) scale(1);
}
.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.social-icons a {
    color: #a0aec0;
    text-decoration: none;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #fff;
}
.copyright {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #2d3748;
    text-align: center;
    font-size: 0.875rem;
    color: #a0aec0;
}

